<!DOCTYPE html>
<html>

{% include head.html %}
{% seo %}

  <body>

    {% include header.html %}

    {{ content }}

    <br/>

    <div class="page clearfix left">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- feet -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8819805350320184"
             data-ad-slot="5878506933"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
  </body>

</html>
